kociemba == 1.2.1
networkx == 3.2.1
numpy == 1.26.2


"TO RUN THE PROGRAM FIRST RUN THE LOGIN.PY FILE AND CREATE AN ACCOUNT(THIS WILL BE USED IN THE FUTURE TO STORE THE USER'S SCORES)THEN ONCE YOU HAVE SUCCESSFULLY CREATED AN ACCOUNT IT WILL TAKE YOU TO THE SOLVER APPLICATION WHERE YOU CAN PLAY THE GAME AND SOLVE THE CUBE"

```DO NOT FORGET TO INSTALL THE REQUIRED LIBRARIES
"I HAVE  INCLUDED REQUIREMENTS.TXT FILE FOR EASY INSTALLATION OF THE REQUIRED LIBRARIES  RUN THE COMMAND pip install -r requirements.txt IN THE TERMINAL TO INSTALL THE REQUIRED LIBRARIES"
"IF KOCIEMBA DOES NOT INSTALL OR YOU RUN INTO ERRORSS PLEASE SEEK TROUBLESHOOTING OPTIONS  FROM https://github.com/muodov/kociemba"

networkx~=3.2.1
future~=0.18.3